.controls{
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #e6e6e6;
}

.cke_dialog_tab[id^=cke_Upload_]{
    display: none!important;
}

.tabs-prev,.template-prev {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background: gray;
    color: #fff;
    font-size: 20px;
    display: block;
}

.admin_tabs{
    height: 150px;
    box-sizing: border-box;
}
.admin_tabs .title{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}