body {
    min-width: 320px;
}
.tab_tile{
    height: 150px;
    margin-bottom: 20px;
}
.tab_tile img {
    height: 100%;
    width: 100%;
    filter: blur(2px)  brightness(60%);
    object-fit: cover;
}

.tab_tile .title{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-black {
    color: black !important;
}
.tabs-prev {
    display: none;
}

.navbar{
    background-color: #840000;
    border-radius: 0;
    display: table;
    height: 100px;
    width: 100%;
}
.navbar-nav{
    float: left;
    margin: 0;
}
.navbar-nav > li {
    display: inline-block;
    vertical-align: middle;}
.nav-wrap{
    height: 100%;
    width: 90%;
    display: inherit;
    margin: 0 auto;
}
.nav-content-wrap{
    display: block;
    vertical-align: middle;
    width: 100%;
}

.navbar-toggle.show{
    display: block;
}

.nav-wrap .right{
    position: absolute;
    right: 40px;
    top: 20px;
    margin-right: 2.5%;
}
.search .form-group{
    display: inline-block;
}
.search input{
    display: inline-block;
    width: auto;
}

.nav li a{
    color: white;
    position: relative;
    font-size: 17px;
}

.nav > li > a:hover, .nav > li > a:focus{
    background: none;
}

.nav > li > a:after{
    display: block;
    position: absolute;
    bottom: 0;
    height: 2px;
    content: " ";
    background: white;
    width: 0;
    left: 50%;
    transform: translate(-50%);
    transition-duration: 0.5s;
}
.nav > li > a:hover:after, .nav > li > a:focus:after{
    width: 100%;
}
.logo-wrap{
    margin-top: 10px;
    display: flex;
}
.logo img{
    width: 100px;
    display: inline-block;

}
.logo-text img{
    width: 350px;
}
.icon-bar{
    background: white;
}

.search * {
    outline: 0;
}
.search .form-control{
    outline: 0;
    border: none;
    box-shadow: none;
    background: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
}

.search button, .show-search{
    background: none;
    color: white;
    border: none;
}
.right-btns {
    float: right;
}
.right-btns button{
    padding: 15px;
    min-width: 50px;
    background: none;
    color: white;
    border: none;
}

.full-nav-wrap{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background: rgba(17,17,17,0.99);
    z-index: 2;
    display: none;
}
.full-nav-wrap .container {
    color: white;
    margin-top: 200px;
}
.full-nav-wrap .container li.parent a {
    color: #a40000;
    font-size: 20px;
    font-weight: bold;
}
.full-nav-wrap .container li a:hover:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20px;
    background: white;
}
.full-nav-wrap .container li a {
    color: lightgrey;
    opacity: 1;
    font-size: 17px;
    text-decoration: none;
    position: relative;
}
.full-nav-wrap .container li {
    list-style: none;
    font-size: 20px;
}
.full-nav-wrap .nav-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
footer .footer-container li.parent{
    margin-bottom: 10px;
}
footer .footer-container li.parent a {
    font-size: 17px;
    color: #d60000;
    font-weight: bold;
}
footer .footer-container li a:hover{
    text-decoration: underline;
}
footer .footer-container li a {
    color: white;
    opacity: 1;
    font-size: 14px;
    text-decoration: none;
    position: relative;
}
footer .footer-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 20px;
}
footer .footer-container li{
    list-style: none;

}
footer .footer-container .section{
    display: inline-block;
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
    width: 25%;
    margin-bottom: 40px;
}

.full-nav-wrap .container .section{
    display: inline-block;
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
    width: 25%;
    margin-bottom: 40px;
}
.nav {
    position: relative;
    padding-bottom: 5px;
}
.childs-wrap ul li:hover a{
    color: white;
}
.childs-wrap ul li a{
    text-decoration: none;
    color: #840000;
}
.childs-wrap ul li:hover{
    background-color: #840000;
}
.childs-wrap ul li{
    padding: 10px 45px;

}
.childs-wrap ul{
    background: #ffede3;
    padding: 0;
    margin-top: 10px;
}
.childs-wrap{
    position: absolute;
    display: none;
    width: max-content;
    width: -moz-max-content;
}

.childs-wrap:hover{
    display: block;
}
.nav:hover > .childs-wrap{
    display: block;
    z-index: 9;
}
.full-nav-wrap .search{
    float: right;
    margin-bottom: 50px;
    width: 23.5%;
    display: flex;
    justify-content: space-between;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 7px;
}
.full-nav-wrap .row {
    clear: both;
}

.full-nav-wrap .search .form-group, .full-nav-wrap .search .form-group input {
    width: 99%;
}

.full-nav-wrap .nav-container .section ul{
    padding: 0;
}
footer .footer-container .section ul{
    padding: 0;
}
.full-nav-wrap .row{
    padding: 15px;
}


.close {
    color: white;
    padding: 50px;
    opacity: 0.8;
    font-size: 25px;
}

.close:hover, .close:focus{
    color: white;
    opacity: 1;
}

.navbar-form{
    box-shadow: none;
    margin: 0;
}

.search.onfooter{
    display: none;
}

.title {
    margin-bottom: 50px;
}

.main.container{
    padding: 0;
}
.navbar{
    margin-bottom: 0;
}
.news-slider .slick-list, .news-slider .slick-track {
    height: 100%;
}
.news-slider .new{
    display: block;
    position: relative;
}
.news-slider {
    height: 500px;
    width: 100%;
}
.news-slider .slick-slide img{
    object-fit: cover;
    object-position: 50% 20%;
    height: 500px;
    width: 100%;
}
.news-slider .desc {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 10px 5%;
}
.slick-arrow {
    z-index: 1;
    height: 100%;
    width: 5%;
}
slider .slick-arrow {
    width: 10%;
}
slider {
    margin: 0 auto;
    max-width: 100%;
}
.slick-arrow.slick-next{
    right: 0;
}
.slick-arrow.slick-prev{
    left: 0;
}
.slick-prev:before, .slick-next:before{
    color: #b90000;
    font-size: 30px;
}
.main_tabs{
    margin-top: 30px;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
footer{
    background: #5d5d5d;
    color: #cccccc;
    padding: 50px 0 0 0;
}
.footer-logo{
    width: 150px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 20px;
}
footer .copyright{
    background: #434343;
    text-align: center;
    padding: 20px;
}
footer .container{
    margin-bottom: 50px;
}
footer .right{
    float: right;
}
footer .information h2{
    margin-bottom: 18px;
    color: white;
}
.footer-logo img{
    width: 100%;
}
.facebook{
    margin-top: 40px;
}
.upload-date{
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: bold;
    color: #6c0000;
}
.footer-logo-container{
    margin-bottom: 50px;
}
.all-news{
    position: absolute;
    z-index: 99;
    right: 80px;
    top: 20px;
    background: rgba(132, 128, 132, 0.7);
    padding: 10px 50px;
}
.all-news a{
    color: white;
    position: relative;
    font-size: 15px;
    vertical-align: middle;
    text-decoration: none;
}
.all-news a i{
    margin-left: 5px;
}

.container.all *{
    color: #c70000;
}
.container.all img{
    margin: 0 auto 10px;
    object-fit: cover;
    max-width: 100%;
}
.container.all .all_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}
.container.all .date i{
    margin-right: 10px;
}
.container.all div {
    margin-bottom: 20px;
}
.container.all .wraper{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -20px;
}
.container.all .wraper .item{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    width: 25%;
    margin-bottom: 20px;
}
.slider_wrap{
    position: relative;
}
@media (max-width: 768px){
    .nav-content{
        display: none;
    }
    .right-btns{
        display: none;
    }
    .container.main{
        width: 90%;
    }
}

@media (max-width: 425px) {
    .full-nav-wrap .container .section, footer .footer-container .section{
        width: 100% !important;
    }
    .container.all .wraper .item{
        width: 100% !important;
    }
    .full-nav-wrap .nav-container{
        margin-top: -20px
    }
    .search.ontop{
        display: none;
    }
    .search.onfooter{
        display: flex;
    }
    .news-slider .slick-arrow:before{
        display: none;
    }
    .search{
        width: 100% !important;
        justify-content: center !important;
        float: none !important;
    }
    .btn-default:hover, .btn-default:active{
        outline: none;
        color: white;
        background: none;
        border: none;
    }
    .full-nav-wrap .navbar-form.search .form-group{
        margin-left: 15px;
        margin-right: 15px;
        width: 0;
        display: none;
    }
    .logo-wrap .logo img{
        width: 50px;
    }
    .logo-wrap .logo-text img{
        width: 200px;
    }
    .navbar{
        height: 75px;
    }
    .navbar .right{
        top: 10px;
        right: 10px;
    }
    .full-nav-wrap .container{
        margin-top: 50px;
    }
    .close {
        font-size: 14px;
        position: absolute;
        right: 0;
        top: 0;
    }
    footer .container .information{
        display: block;
    }
}
@media (max-width: 1190px) {
    .full-nav-wrap .container .section, footer .footer-container .section{
        width: 50%;
    }
    .container.all .wraper .item{
        width: 50%;
    }
    .full-nav-wrap .search{
        width: 47%;
    }
}
@media (max-width: 992px) {
    footer .col-md-6{
        text-align: center;
    }
    footer .information{
        display: inline-block;
    }
}